<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El tio</title>



    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <nav>
        <ul>
          <li class="active"><a href="/">El tio</a></li>
          <li class="acerca"><a href="/acerca">Acerca de</a></li>
          {{#if name}}
          <p class="nombre"><a href="">{{name}}</a></p>
          <li class="sesion"><a href="/logout">Cerrar sesion</a></li>
          {{else}}
          <li class="sesion"><a href="/login">Iniciar sesion</a></li>
          {{/if}}
        </ul>
    </nav>

    {{{body}}}

</body>

</html>